<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Sensor_holer">
  <link
    name="sensor_base">
    <inertial>
      <origin
        xyz="-2.63154689234279E-07 -1.71925736229113E-07 0.0667667378943572"
        rpy="0 0 0" />
      <mass
        value="0.144120684918715" />
      <inertia
        ixx="0.00015658857211435"
        ixy="-3.36287844593579E-08"
        ixz="2.43408440957269E-09"
        iyy="0.000156618075024728"
        iyz="1.59025003833506E-09"
        izz="3.84827635377377E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="sensor_3_link">
    <inertial>
      <origin
        xyz="8.33341937167315E-06 0.00503674785830824 0.0048006860598108"
        rpy="0 0 0" />
      <mass
        value="0.00623069775844809" />
      <inertia
        ixx="5.29257273681787E-07"
        ixy="1.97293937577808E-10"
        ixz="-1.456932381637E-11"
        iyy="1.84415286400354E-07"
        iyz="3.4717432638237E-08"
        izz="5.91240440864403E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sensor_3_link_joint"
    type="fixed">
    <origin
      xyz="0.0011986 -0.002024 0.204"
      rpy="1.5708 0 0.57871" />
    <parent
      link="sensor_base" />
    <child
      link="sensor_3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sensor_1_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sensor_1_link_joint"
    type="fixed">
    <origin
      xyz="-0.0011986 0.002024 0.204"
      rpy="1.5708 0 -2.5629" />
    <parent
      link="sensor_base" />
    <child
      link="sensor_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>