<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Sensor_holer_nc">
  <link
    name="sensor_base">
    <inertial>
      <origin
        xyz="-2.6315E-07 -1.7193E-07 0.066767"
        rpy="0 0 0" />
      <mass
        value="0.14412" />
      <inertia
        ixx="0.00015659"
        ixy="-3.3629E-08"
        ixz="2.4341E-09"
        iyy="0.00015662"
        iyz="1.5903E-09"
        izz="3.8483E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="sensor_3_link">
    <inertial>
      <origin
        xyz="8.2474E-06 -0.0073777 -0.0036856"
        rpy="0 0 0" />
      <mass
        value="0.0062307" />
      <inertia
        ixx="5.2926E-07"
        ixy="-1.9802E-10"
        ixz="4.3177E-12"
        iyy="1.8192E-07"
        iyz="1.3607E-08"
        izz="5.9373E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sensor_3_link_joint"
    type="fixed">
    <origin
      xyz="0.0020191 -0.0032797 0.20148"
      rpy="-1.6223 0 0.57871" />
    <parent
      link="sensor_base" />
    <child
      link="sensor_3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sensor_1_link">
    <inertial>
      <origin
        xyz="8.2514E-06 -0.0073777 -0.0036856"
        rpy="0 0 0" />
      <mass
        value="0.0062307" />
      <inertia
        ixx="5.2926E-07"
        ixy="-1.9778E-10"
        ixz="4.388E-12"
        iyy="1.8192E-07"
        iyz="1.3607E-08"
        izz="5.9373E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tactile_raw_point_publisher/meshes/sensor_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sensor_1_link_joint"
    type="fixed">
    <origin
      xyz="-0.0020191 0.0032797 0.20148"
      rpy="-1.6223 0 -2.5629" />
    <parent
      link="sensor_base" />
    <child
      link="sensor_1_link" />
    <axis
      xyz="1 0 0" />
  </joint>
</robot>